In [2]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('spam.csv',encoding='latin1')

In [14]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [15]:
df.shape

(5572, 5)

In [28]:
df.iloc[:,2:]

     Unnamed: 2 Unnamed: 3 Unnamed: 4
0           NaN        NaN        NaN
1           NaN        NaN        NaN
2           NaN        NaN        NaN
3           NaN        NaN        NaN
4           NaN        NaN        NaN
...         ...        ...        ...
5567        NaN        NaN        NaN
5568        NaN        NaN        NaN
5569        NaN        NaN        NaN
5570        NaN        NaN        NaN
5571        NaN        NaN        NaN

[5572 rows x 3 columns]

In [29]:
df.iloc[:,:-3]

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [31]:
df.drop(df.iloc[:,2:],axis=1,inplace=True)

In [32]:
df.shape

(5572, 2)

In [35]:
df['v1'].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split

X = df['v2']
y = df['v1']

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [43]:
y_train.value_counts()

ham     3238
spam     495
Name: v1, dtype: int64

In [46]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [49]:
text_clf = Pipeline([('tfid',TfidfVectorizer()),('clf',LinearSVC()),])
text_clf.fit(X_train,y_train)

Pipeline(steps=[('tfid', TfidfVectorizer()), ('clf', LinearSVC())])

In [50]:
# Form a prediction set
predictions = text_clf.predict(X_test)

In [51]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99      1587
        spam       0.97      0.89      0.93       252

    accuracy                           0.98      1839
   macro avg       0.98      0.94      0.96      1839
weighted avg       0.98      0.98      0.98      1839

In [52]:
print(confusion_matrix(y_test,predictions))

[[1581    6]
 [  27  225]]

In [ ]:
# Since this is imbalanced dataset, we consider F1 score as our metrics.F1 score for our model is 98% which is pretty good.